* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
}

.header {
  padding: 32px;
  text-align: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/*membuat 4 buah kolom yang akan berdampingan: 100% / 4 = 25% */
.column {
  padding: 0 4px;
  flex: 25%;
  max-width: 25%;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

/*responsive layout - membuat 2 kolom ketika ukuran screen <= 800px */
@media (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/*responsive layout - membuat 1 kolom ketika ukuran screen <= 600px */
@media (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
